[project]
	description = SELinux Reference Policy Contributions Submodule
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mike Palmiotto (mpalmi)
[access "refs/for/refs/*"]
	read = group user/Mike Palmiotto (mpalmi)
	push = group user/Mike Palmiotto (mpalmi)
	label-Code-Review = -2..+2 group user/Mike Palmiotto (mpalmi)
	label-Verified = -1..+1 group user/Mike Palmiotto (mpalmi)
	rebase = group user/Mike Palmiotto (mpalmi)
	removeReviewer = group user/Mike Palmiotto (mpalmi)
	submit = group user/Mike Palmiotto (mpalmi)
[access "refs/heads/*"]
	read = group user/Mike Palmiotto (mpalmi)
	create = group user/Mike Palmiotto (mpalmi)
	push = +force group user/Mike Palmiotto (mpalmi)
	pushMerge = group user/Mike Palmiotto (mpalmi)
[access "refs/tags/*"]
	push = +force group user/Mike Palmiotto (mpalmi)
	pushTag = group user/Mike Palmiotto (mpalmi)
	pushSignedTag = group user/Mike Palmiotto (mpalmi)
